# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build output
dist/
build/
public/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# IDE and editor files
.vscode/
.idea/

# Miscellaneous
*.tgz
*.zip
*.tar
